body {
	background-color: #e6e6fa;
	font-family: arial narrow, sans-serif;
}

div {
	text-align: center;
}

#partA table, p {
	color: #ffffff;
	font-family: Georgia, sans-serif;
	font-size: 20px;
	width: 99%;
}

#partA table td {
	width: 33%;
}

#partA table tr:nth-child(even) {
	background-color: #441144;
}

#partA table tr:nth-child(odd) {
	background-color: #228b22;
}

button {
	font-size: 20px;
	text-align: center;
	font-family: arial narrow, sans-serif;
}

p.black {
	color: #000000;
}
p.big {
	font-size: 55px;
	color: #000000;
}
p.champion {
	font-size: 45px;
}
p.guesses {
	font-size: 25px;
	color: #000000;
}

div#memory_board {
	background: #000000;
	border: #ffff00 2px solid;
	height: 100%;
	margin: 0px auto;
}
div#memory_board > div {
	border: #ff00ff 2px solid;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
	font-size: 64px;
	cursor: pointer;
	text-align: center;
}
label {
	font-size: 20px;
	font-weight: bold;
}